<!DOCTYPE html>
html[
  c/[your valuable comment]/c
  head[title[my page title]title]head
  meta(charset="utf-8")/]
  [link]
  body[
    h1[explore your mind]h1
    b[span[your bold text]span]b
    div(id="myDiv" class="myDivClass")[
      a(href="https://www.google.com")[link to google]a
      ul(style="list-style-type:disc")[
        li[item]li
        li[item2]li
        li[a(href="www.google.com")[span(class="primary")[link to google]span]a]li
      ]ul
    ]div
    section[
      p[a it is a samp s script footer header head paragraph tester p]p
    ]section
    div[
    	The abbr(title="Some Dum Abbr")[SDA]abbr was founded in 1924.
    	area(shape="rect" coords="0,0,82,126" href="sun.htm" alt="Sun")/]
    	article[
				p[some text here]p
			]article
			aside[
				p[some text here]p
			]aside
			audio(controls)[
				source(src="horse.ogg" type="audio/ogg")/]
				source(src="horse.mp3" type="audio/mpeg")/]
					some text here.
			]audio
			head[
				base(href="http://example.com/images/" target="_blank")/]
			]head
			ul[
				li[user bdi[hrefs]bdi: 10 pts]li
				li[user bdi[إيان]bdi: 20 pts]li
			]ul
			bdo(dir="rtl")[
				some text here right-to-left.
			]bdo
			blockquote(cite="http://www.example.com/index.html")[
			some text here
			]blockquote
			button(type="button")[click!]button
			canvas(id="myCanvas")[]canvas
				caption[a caption]caption
					code[some code]code p[cite[some cite]cite some text here]p p[some text here del[deleted word]del ins[some word]ins!]p
			col(span="1" style="background-color:blue")/]
			colgroup[
				col(span="4" style="background-color:black")/]
				col(style="background-color:orange")/]
			]colgroup
			datalist(id="someid")[
				option(value="some value")/]
				option(value="some value")/]
				dl[
					dt[blue]dt
					dd[green black]dd
					dt[red]dt
					dd[yellow]dd
				]dl
			]datalist
    ]div
  ]body
]html
