<!DOCTYPE html>
html[
	c/[your valuable comment]/c
	head[title[my page title]title]head
	meta(charset="utf-8")/]
	[link]
	body[
		h1[explore your mind]h1
		b[span[your bold text]span]b
		div(id="myDiv" class="myDicClass")[
			a(href="https://www.google.com")[link to google]a
			ul(style="list-style-type:disc")[
				li[item]li
				li[item2]li
				li[a(href="www.google.com")[span(class="primary")[link to google]span]a]li
			]ul
		]div
		div[
			p[a it is a samp s script footer header head paragraph tester p]p
		]div
	]body
]html
